.row
  %section
    .container
      .col-md-8.col-md-offset-2.well
        %h2 Sign up
        .col-md-6
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = form_group_for f, :email, label: false do
              %div.input-group
                = f.email_field :email, class: 'form-control input-lg', placeholder: 'Email', required: true
                %i.input-group-addon.fa.fa-user
            = form_group_for f, :password, label: false do
              %div.input-group
                = f.password_field :password, class: 'form-control input-lg', placeholder: 'Password', required: true
                %i.input-group-addon.fa.fa-key
            = form_group_for f, :password_confirmation, label: false do
              %div.input-group
                = f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: 'Password Confirmation', required:true
                %i.input-group-addon.fa.fa-key
            .form-group
              = f.submit "Let me in now!", class: 'btn btn-success btn-block btn-lg'
          = flash_messages layout_flash: false
          = render "devise/shared/links"