%fieldset
  .col-md-6.well
    = form_group_for f, :min_value do
      .col-sm-8
        .input-group
          .input-group-addon $
          = f.number_field :min_value, class: "form-control", min:0.0, step:50
    = form_group_for f, :deliver_at do
      .col-sm-8
        = f.date_select :deliver_at,{discard_day:true},{class: "form-control", style:"width:auto; display:inline;"}
    = form_group_for f, :description do
      .col-sm-8
        = f.text_field :description, class: "form-control"
    = form_group_for f, :max_contributions do
      .col-sm-8
        = f.number_field :max_contributions, min:1, class: "form-control"
    .form-group
      .pull-right.col-sm-2
        = f.hidden_field :_destroy
        = link_to 'javascript:void(0)', class: "btn btn-danger remove_fields" do 
          %i.fa.fa-trash-o 