- @nav_type = "navbar-fixed-top"
- content_for :javascripts do 
	= javascript_include_tag "hatchy/edit_projects"
.row
	%section.sidebar-page.expanded{style:"overflow:hidden; outline:none;"}
		= render "hatchy/projects/edit/project_sidebar"
		.content-wrapper
			= render "hatchy/projects/edit/basic"
			= render "hatchy/projects/edit/goal"
			= render "hatchy/projects/edit/description"
			= render "hatchy/projects/edit/video"
			= render "hatchy/projects/edit/budget"
			= render "hatchy/projects/edit/project_card"
			= render "hatchy/projects/edit/rewards"
			- if !@project.draft?
				/= render "hatchy/projects/edit/account"
			- if @project.analysis?
				/= render "hatchy/projects/edit/analysis_success"