- content_for :javascripts do 
  = javascript_include_tag "hatchy/projects/show"

#project-show.row.project-show
  %section
    .container
      = render "hatchy/projects/show/header"
      %section
        .col-md-12
          = render "hatchy/projects/show/video"
          = render "hatchy/projects/show/info"
        .col-md-12
          .col-md-8
            %ul.nav.nav-tabs
              %li
                = link_to "#description" do
                  %i.fa.fa-list
                  %span Description
              %li
                = link_to "#budget" do
                  %i.fa.fa-list
                  %span Budget
              %li
                = link_to "#posts" do
                  %i.fa.fa-list
                  %span Posts
              %li
                = link_to "#comments" do
                  %i.fa.fa-list
                  %span Comments
            = render "hatchy/projects/show/description"
            = render "hatchy/projects/show/budget"
            = render "hatchy/projects/show/posts"
          .col-md-4
            = render "hatchy/projects/show/rewards"