.content-wrapper
  .container-fluid
    .row
      .text-center
        %h1= @user.full_name
      %hr
    .row
      .col-md-12
        = render 'hatchy/admin/shared/admin_navtabs', list_view: admin_users_path, new_view: "", edit_path: edit_admin_user_path
        %h3 Basic Info
        = render 'hatchy/admin/users/basic_info'
        %hr
        %h3 Projects
        = render 'hatchy/admin/users/projects', projects: @user.projects
        %hr
        %h3 Contributions
        = render 'hatchy/admin/users/contributions', contributions: @user.contributions
        %hr
        .col-sm-offset-2.col-sm-10
          =link_to "Delete", admin_user_path(@user), method: :delete, data:{confirm: "Are you sure?"}, class:'btn btn-danger btn-lg'