%table.table.table-condensed.table-striped
  %tr
    %th Owner
    %td= link_to @project.user.full_name, @project.user
    %th Status
    %td
      .dropup
        %button.btn.btn-default.dropdown-toggle{data:{toggle:"dropdown"}}
          = @project.status
          %span.caret
        %ul.dropdown-menu
          %li= link_to "send to approved", send_to_approved_admin_project_path, method: :put
          %li= link_to "push to online", push_to_online_admin_project_path, method: :put
          %li= link_to "send to rejected", send_to_rejected_admin_project_path, method: :put
          %li= link_to "send to draft", send_to_draft_admin_project_path, method: :put
          %li= link_to "push to trash", push_to_trash_admin_project_path, method: :put
          %li= link_to "send to successful", send_to_successful_admin_project_path, method: :put
  %tr
    %th Name
    %td
      = best_in_place @project, :name, url: admin_project_path
      = link_to @project, target:"_blank" do 
        %i.fa.fa-share-square-o
      %i.fa.fa-pencil
    %th Category
    %td= link_to @project.category.name, admin_category_path(@project.category)
  %tr
    %th Recommended
    %td
      = best_in_place @project, :recommended, as: :checkbox, url: admin_project_path
      %i.fa.fa-pencil
    %th City
    %td= @project.city
  %tr
    %th Video URL
    %td= link_to @project.video_url, @project.video_url
    %th Short URL
    %td= link_to @project.short_url, @project.short_url
  %tr
    %th Online Days
    %td= @project.online_days
    %th Budget
    %td= number_to_currency @project.goal
  - if @project.online?
    %tr
      %th Online Date
      %td= @project.online_date.strftime("%m/%d/%Y - %l:%M%p")
      %th Expires at
      %td= @project.expires_at.strftime("%m/%d/%Y - %l:%M%p")
  -if @project.rejected?
    %tr
      %th Rejected at
      %td= @project.rejected_at.strftime("%m/%d/%Y - %l:%M%p")
      %th
      %td
  - if @project.draft?
    %tr
      %th Send to Draft at
      %td= @project.send_to_draft_at