%table.table.table-condensed.table-striped.data-table
  %thead
    %tr
      %th Id
      %th Backer
      %th Reward
      %th Value
      %th Status

  %tbody
    - contributions.order('created_at DESC').each do |contribution|
      %tr
        %td= link_to contribution.id, admin_contribution_path(contribution)
        %td= link_to contribution.user.full_name, admin_user_path(contribution.user)
        %td= number_to_currency contribution.reward.min_value
        %td= number_to_currency contribution.value
        %td= contribution.status