%table.table.table-condensed.table-striped
  %tr
    %th Account Type
    %td= account.account_type
    %th Bank
    %td
      = best_in_place @project.account, :bank_id, url: admin_project_path, as: :select, collection: Hatchy::Bank.all.map { |i| [i.id, i.name] },param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      = link_to admin_bank_path(account.bank), target:"_blank" do 
        %i.fa.fa-share-square-o
      %i.fa.fa-pencil
  %tr
    %th Owner Name
    %td
      = best_in_place @project.account, :owner_name, url: admin_project_path, param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      %i.fa.fa-pencil
    %th Owner Document
    %td
      = best_in_place @project.account, :owner_document, url: admin_project_path, param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      %i.fa.fa-pencil
  %tr
    %th Email
    %td
      = best_in_place @project.account, :email, url: admin_project_path, param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      %i.fa.fa-pencil
    %th Phone
    %td
      = best_in_place @project.account, :phone, url: admin_project_path, param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      %i.fa.fa-pencil
  %tr
    %th Account
    %td
      = best_in_place @project.account, :account, url: admin_project_path, param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      %i.fa.fa-pencil
    %th Account Digit
    %td
      = best_in_place @project.account, :account_digit, url: admin_project_path, param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      %i.fa.fa-pencil
  %tr
    %th Address State
    %td
      = best_in_place @project.account, :address_state, url: admin_project_path, param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      %i.fa.fa-pencil
    %th Address City
    %td
      = best_in_place @project.account, :address_city, url: admin_project_path, param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      %i.fa.fa-pencil
  %tr
    %th Address Street
    %td
      = best_in_place @project.account, :address_street, url: admin_project_path, param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      %i.fa.fa-pencil
    %th Address Number
    %td
      = best_in_place @project.account, :address_number, url: admin_project_path, param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      %i.fa.fa-pencil
  %tr
    %th Address Zip
    %td
      = best_in_place @project.account, :address_zip, url: admin_project_path, param:"project[account_attributes][id]=#{@project.account.id}&project[account_attributes]"
      %i.fa.fa-pencil